p.welcome{
    color: #000;
    background-color:bisque;
    size: 40px;
}
p.cheers{
    color:#000;
    background-color: bisque;
    size: 10px;
    opacity: 1;
}
body.main_background{
    color:#000;
    background-color: bisque;
}
h1.main_title{
    font-size: 100px;
    color:#000;
    background-color: bisque;
    padding-left: 10px;
}